<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Searchengine</title>
</head>
<body>
        <form action="/handle_data" method="post">
            <div>
              <input type="text" title="Search">
            </div>
            <div>
                <input type="submit">
                <a style="text-decoration: none; color: #707070;" href="/my-link/">Search</a>
            </div>
        </form>
</body>
</html>
